{
    "presets": [["@babel/preset-env", { "modules": false }]],
    "plugins": [
      [
        "component",
        {
          "libraryName": "element-ui",
          "styleLibraryName": "theme-chalk"
        }
      ],
      "transform-remove-console",
      "@babel/plugin-syntax-dynamic-import"
    ]
}